{% extends 'sportsApp/base.html' %}
{% block title_block %}
Register
{% endblock %}
{% load bootstrap4 %}
{% block body_block %}
    <div class="container">
    <h1 class=form-heading>Register Here</h1>
    <form 
        method="post" 
        action=".">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <input 
        type="submit" 
        name="submit" 
        value="submit" 
        class="btn btn-lg btn-primary">
        {% endbuttons %}
    </form>
</div>
{% endblock %}