{% extends 'sportsApp/base.html' %}
{% load static %}
{% block title_block %}
{% endblock %}
{% block body_block %}
    <div>
        <div class="jumbotron">
        <h1 class="display-3">
            <strong class="txtcyan">About Milele Sports.</strong></h1>
        <p class="lead">This is the official site of Milele Sports Company Limited.
        Milele Sports Company and Website is dedicated toward developing local
        talent and subsequently promoting them to the international stage.</p>
        <p class="lead">As such, we feature top African sports news alongside trending
        world news in the various fields of sport. We aim to market local talent,
        sportsmen, and athletes through our pages and also grant you a platform
        to share your views and follow interesting stories and highlighted 
        sport events.</p>
        <p class="lead">It is our goal to make the world better, we hope you enjoy your visit.
        </p>
        <span class="center-bold txtblue"><i>~Together we are stronger!~</i></span>    
        </div>      
    </div>
{% endblock %}