{% extends 'sportsApp/base.html' %}
{% load static %}
{% block title_block %}
add-comment
{% endblock %}

{% load bootstrap4 %}
{% block body_block %}
{% if blog %}
<h2 class="txtcaps txtmaroon underline txtoblique">{{ blog.title }}</h2>
<h3 class="txtblue">{% if blog.views > 1 %}
        ({{blog.views}} views)
    {% elif blog.views == 1 %}
        ({{blog.views}} view)
          {% endif %} 
</h3>
<h6 class="txtbold txtorange underline">Story Synopsis</h6>
<div class="container">
    {{ blog.blog|linebreaks }}
</div>
<div class="container mb-4 mt-3">
<h6 class="underline">Comments:</h6>
<div>
{% if user_comments %}
<div>
    {% for item in user_comments %}
    <div class="mb-3">
    On <span class="txtgreen">{{item.date_published}} </span>
    <span class="txtbold txtcaps">{{item.owner}}</span> commented:<br>
    <span class="txtoblique txtcyan"> "{{item.comment}}"</span>
    {% buttons %}
    <a href="{% url 'sportsApp:edit_comment' item.id %}">
     <button name='Edit Comment' class="btn btn-sm btn-primary">
       Edit Comment 
     </button>
    </a>
    {% endbuttons %}
    </div>
    {% endfor %}
</div>
{% else %}
<strong>No comments yet!</strong>
{% endif %}
<div>
    <form action="{% url 'sportsApp:add_comment' blog.slug %}" method='post'>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in form.visible_fields %}
        {{ field.errors }}
        {{ field }}
    {% endfor %}
    {% buttons %}
     <button name='submit' class="btn btn-sm btn-success">Add Comment</button>
    {% endbuttons %}
  </form>   
</div>
{% else %}
<strong>Content Unavailable!</strong>
{% endif %}
</div>
{% endblock %}