<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, 
        shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Milele Sports Limited
        {% block title_block %}
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border">
    <li class="navbar-brand p-2 flex-fill bd-highlight">
        <strong>Milele Sports Limited.</strong></li>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item p-2 flex-fill bd-highlight">
            <a class="nav-link" href="{% url 'sportsApp:index' %}">Home</a>
        </li>
        <li class="nav-item p-2 flex-fill bd-highlight">
          <a class="nav-link" href="{% url 'sportsApp:about' %}">About</a>
        </li>
        <li class="p-2 flex-fill bd-highlight">
          <form class="form" action="#" 
            method="get">
            {% csrf_token %}
            <input type="text" size="20" name="query" 
                placeholder="search page...">
            <button type="submit" 
              class="btn btn-sm btn-primary p-2 flex-fill bd-highlight">Get Result</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
    {% if user.is_authenticated %}
    <li class="nav-item p-2 flex-fill bd-highlight">
        <a class="nav-link" 
        href="{% url 'sportsApp:profile' user.username %}">Your Profile</a>
    </li>
    <li class="nav-item p-2 flex-fill bd-highlight">
        <a class="nav-link" 
        href="{% url 'sportsApp:list_profiles' %}">List Profiles</a>
    </li>
    <li class="nav-item p-2 flex-fill bd-highlight">
        <a class="nav-link" href="{% url 'auth_logout' %}">Logout</a>
    </li>
    <li class="nav-item p-2 flex-fill bd-highlight">
        <a class="nav-link" href="{% url 'auth_password_change' %}?next='auth_password_change_done' ">Change Password</a>
    </li>
    {% else %}
    <li class="nav-item p-2 flex-fill bd-highlight">
        <a class="nav-link" 
        href="{% url 'registration_register' %}">Register here</a>
    </li>
    <li class="nav-item p-2 flex-fill bd-highlight">
        <a class="nav-link" href="{% url 'auth_login' %}">Login</a>
    </li>
    {% endif %}
    </ul>
    </div>
    </nav>
    <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
    </div>
    <div>
      {% block body_block %}{% endblock %}
    </div>
  </main>
</body>
</html>