{% extends 'sportsApp/base.html' %}
{% load static %}
{% block title_block %}
contact-us
{% endblock %}

{% block body_block %}
<div class="container sport-bg">
    <div><h3 class="txtcyan txtbold underline">For any queries, please reach out to
    us:</h3>
    <div class="container">
    <img src="{% static 'images/tel.png' %}"
            width="40" height="40"> <strong>:</strong>
                <a class="txtbold txtnavy" 
                href="tel:+243 818 499 8205">+243 818 499 8205
                </a> 
                <a class="txtbold txtblack" href="tel:+234 734 633 607">
                / +234 734 633 607</a>
    </div>
    <br>
    <div class="container">
    <img src="{% static 'images/mail.png'%}"
            width="40" height="40"> <strong>:</strong>
                <a class="txtbold txtgreen" 
                href="mailto: milelesports0@gmail.com"> G-mail
                </a>
                <a class="txtorange txtbold" 
                href="mailto: billydisu@outlook.com">/ Outlook
                </a>
    </div>
    <div class="container"><br>
        <h5 class="txtbold">OR</h5>
        <h4 class="txtgrey txtbold underline">Visit our social sites:</h4>
    <div class="container">    
    <a href="https://twitter.com/SportsMilele">
        <img src="{% static 'images/twitter-logo.png' %}"
        width="40" height="40">
    </a> <strong class="txtblue"> | </strong>
    <a href="https://www.instagram.com/milelesportsltd/">
        <img src="{% static 'images/insta-logo.png' %}"
        width="40" height="40">
    </a>  
    </div>
    </div>
</div>
<hr>
{% endblock %}