{% extends 'sportsApp/base.html' %}
{% load static %}
{% block title_block %}
contact-us
{% endblock %}

{% block body_block %}
<div class="container sport-bg">
    <div><h3 class="txtcyan txtbold underline">For any queries, please reach out to
    us:</h3>
    <div class="container">
    <img src="{% static 'images/tel.png' %}"
            width="40" height="40"> 
            <span class="txtbold txtnavy">+243 818 499 8205 </span> 
            <span class="txtbold">/ +234 734 633 607 </span>
    </div>
    <br>
    <div class="container">
    <img src="{% static 'images/mail.png'%}"
            width="40" height="40">
            <span class="txtbold txtgreen">
                <a href="mailto: milelesports0@gmail.com"> milelesports0@gmail.com
                </a></span>
            <span class="txtorange txtbold">/ billydisu@outlook.com</span>
    </div>
    <div class="container"><br>
        <h5 class="txtbold">OR</h5>
        <h4 class="txtgrey txtbold underline">Visit our social sites:</h4>
    <div class="container">    
    <a href="https://twitter.com/SportsMilele">
        <img src="{% static 'images/twitter-logo.png' %}"
        width="40" height="40">
    </a>
    
    <a href="https://www.instagram.com/milelesportsltd/">
        <img src="{% static 'images/insta-logo.png' %}"
        width="40" height="40">
    </a>  
    </div>
    </div>
</div>
<hr>
{% endblock %}