{% extends 'sportsApp/base.html' %}
{% load static %}
{% block title_block %}
index
{% endblock %}

{% block body_block %}
<div class="container">
<h1 class="txtcyan txtbold">Sports</h1>
{% if sports_list %}
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-center
        container">
    {% for item in sports_list %}
        <div class="p-1 flex-fill bd-highlight">
            <a href="{% url 'sportsApp:sports' item.slug %}">
                <h6>{{ item.name }}</h6></a>
        </div>
    {% endfor %}
    </div>
{% else %}
<strong><i>No items yet!</i></strong>
{% endif %}
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" 
  href="#" role="button" id="dropdownMenuLink" 
  data-toggle="dropdown" aria-haspopup="true" 
  aria-expanded="false">
    <i>Other Sports</i>
  </a>
{% if other_sports %}
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for item in other_sports %}
    <a class="dropdown-item dropdown-header" 
    href="{% url 'sportsApp:sports' item.slug %}">{{item.name}}</a>
    {% endfor %}
</div>
</div>
{% endif %}
<hr>
<h2 class="txtdarkred txtbold underline txtoblique">Top Sport Highlights</h2>
{% if blog_list %}
<div class="d-flex flex-row bd-highlight mb-3 justify-content-center
    container">
    {% for item in blog_list %}
    <div class="p-2 flex-fill bd-highlight">
            <h3 class="underline txtnavy txtcaps">{{item.title}}:</h3>
            <div>
                <img src="{{MEDIA_URL}}{{item.picture}}"
                    width="45%">
            <div class="div-width"><a 
                href="{% url 'sportsApp:add_comment' item.slug %}">
                    {{item.summary}}
            </a></div>
        </div>
    </div>        
    {% endfor %}
</div>
{% else %}
<strong>No blogs added!</strong>
{% endif %}
{% if second_blog %}
<div class="d-flex flex-row bd-highlight mb-3 justify-content-center
    container">
    {% for item in second_blog %}
    <div class="p-2 flex-fill bd-highlight">
            <h3 class="underline txtnavy txtcaps">{{item.title}}:</h3>
            <div>
                <img src="{{MEDIA_URL}}{{item.picture}}"
                    width="45%">
            <div class="div-width"><a 
                href="{% url 'sportsApp:add_comment' item.slug %}">
                {{item.summary}}
            </a></div>
        </div>
    </div>         
    {% endfor %}
</div>
{% else %}
<strong>No more blogs added!</strong>
{% endif %}
<hr>
{% if player_list %}
<h2 class="txtbold txtcyan">Featured ✰✰✰✰</h2> 
    <h5 class="underline txtmaroon txtbold">
    Weekly Stars - Players to Watch:
    </h5>
<div class="clear-both d-flex flex-row bd-highlight mb-3 justify-content-center
    container">
    {% for player in player_list %}
    <div class="p-2 flex-fill bd-highlight">
        <strong><h4 class="txtcaps txtbold txtorange">• {{ player.name }}</h4></strong>
        <img src="{{MEDIA_URL}}{{player.picture}}"
            width="50%">
        <p class="player txtoblique">"{{player.profile_summary}}"</p>
    </div>
    {% endfor %}
</div>
{% endif %}
<hr>
{% if event_list %}
<h3 class="txtdarkred txtbold underline">Upcoming Sporting Events</h3>
<ul>
    {% for event in event_list %}
        <li>
            <a class="txtnavy" href="{% url 'sportsApp:event_detail' event.id %}">
                {{event.text}} happening on the {{event.date}} 
                at {{event.location}}
            </a>
        </li>
    {% endfor %}
</ul>
{% else %}
<strong><i>Your top events and recommendations appear here!</i></strong>
{% endif %}
</div>
{% endblock %}

