{% extends 'sportsApp/base.html' %}
{% load static %}
{% block title_block %}
: home
{% endblock %}

{% block body_block %}
<div class="container sport-bg">
<h1>Sports</h1>
{% if sports_list %}
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
    {% for item in sports_list %}
        <div class="p-2 flex-fill bd-highlight">
            <a href="{% url 'sportsApp:sports' item.slug %}">
                <h6>{{ item.name }}</h6></a>
        </div>
    {% endfor %}
    </div>
{% else %}
<strong><i>No items yet!</i></strong>
{% endif %}
<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" 
  href="#" role="button" id="dropdownMenuLink" 
  data-toggle="dropdown" aria-haspopup="true" 
  aria-expanded="false">
    <i>Other Sports</i>
  </a>
{% if other_sports %}
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    {% for item in other_sports %}
    <a class="dropdown-item dropdown-header" href="#">{{item.name}}</a>
    {% endfor %}
</div>
</div>
{% endif %}
<hr>
<h2 class="custom-text">Top Sport Highlights</h2>
{% if blog_list %}
<div>
    {% for item in blog_list %}
            <h3 class="custom">{{item.title}}</h3>
            <div class="content">
                <img src="{{MEDIA_URL}}{{item.picture}}"
                    width="330" height="200">
            </div>
            <div class="blog-content">{{item.summary}}</div>
    {% endfor %}
</div>
{% else %}
<strong>No blogs added!</strong>
{% endif %}
</div>
{% endblock %}

