{% extends 'sportsApp/base.html' %}
{% load static %}   
    {% block title_block %}
        Create a profile
    {% endblock %}
{% load bootstrap4 %}
    {% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Create your account profile!</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <form method="post"
                  action="{% url 'sportsApp:register_profile' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                {% buttons %}
                <input type="submit" class="btn btn-primary" 
                    value="Create Profile" />
                {% endbuttons %}
            </form>
        </div>
    </div>
    {% endblock %}