{% extends 'sportsApp/base.html' %}
{% load static %}  
{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}
{% load bootstrap4 %}
    {% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading txtdarkblue txtbold">
            {{ selected_user.username }}'s Profile</h1>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <img src="{{ MEDIA_URL }}{{ user_profile.picture }}"
                 width="300"
                 height="300"
                 alt="{{ selected_user.username }}'s profile image" />
            <br />
            <div>
                {% if selected_user == user %}
                <form method="post" action="." enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <input type="submit" value="Update" class="btn btn-primary"/>
                    {% endbuttons %}
                </form>
                {% else %}
                <p> 
                    <strong>Message:</strong>
                    <a href="{{ user_profile.message }}">{{ user_profile.message }}</a>
                </p>
                <p>
                    <strong>Favourite Sport:</strong>
                    <a href="{{ user_profile.fav_sport }}">{{ user_profile.fav_sport }}</a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
