{% extends 'sportsApp/base.html' %}
{% load static %}

{% block title_block %}
    {{ sport.name }}
{% endblock %}
{% load bootstrap4 %}   
{% block body_block %}
    {% if sport %}
      <h1 class="txtmaroon">{{ sport.name }}</h1>
      <div>
      <strong id="like_count">{{ sport.likes }}</strong> 
      people like this category
      {% if user.is_authenticated %}
      <button id="likes" data-catid="{{sport.id}}"
      class="btn btn-primary btn-sm" type="button">
      Like
      </button>
      {% endif %}
      </div>
      {% if blogs %}
        <ul>
        {% for item in blogs %}
          <li><h2 class="txtcaps underline txtoblique">{{ item.title }}:</h2></li>
          <div>
          {% if item.views > 1 %}
              <span class="txtbold">({{item.views}} views)</span>
          {% elif item.views == 1 %}
              <span class="txtbold">({{item.views}} view)</span>
          {% endif %} 
          </div>
          <div>
            <img src="{{MEDIA_URL}}{{item.picture}}"
                width="40%">
            <h6 class="underline txtgrey">Story - (posted {{item.date_published}})</h6>
            <div class="txtblack">{{item.blog|linebreaks}}</div>
          </div>
          {% buttons %}
          <a href="{% url 'sportsApp:add_comment' item.slug %}">
            <button class="btn btn-primary btn-sm"
            type="button">View Comments</button>
          </a>
          {% endbuttons %}
          <hr>
        {% endfor %}
        </ul>
      {% else %}
        <strong>No items currently in this category!</strong>
      {% endif %}
    {% endif %}
{% endblock %}
    
    