{% extends 'sportsApp/base.html' %}
{% load static %}

{% block title_block %}
    : {{ sport.name }}
{% endblock %}
{% load bootstrap4 %}   
{% block body_block %}
    {% if sport %}
      <h1>{{ sport.name }}</h1>
      <div>
      <strong id="like_count">{{ sport.likes }}</strong> 
      people like this category
      {% if user.is_authenticated %}
      <button id="likes" data-catid="{{sport.id}}"
      class="btn btn-primary btn-sm" type="button">
      Like
      </button>
      {% endif %}
      </div>
      {% if blogs %}
        <ul>
        {% for item in blogs %}
          <li><h2>{{ item.title }}:</h2></li>
          <div>
          {% if item.views > 1 %}
              ({{item.views}} views)
          {% elif item.views == 1 %}
              ({{item.views}} view)
          {% endif %} 
          </div>
          {{ item.blog }}
          {% buttons %}
          <a href="{% url 'sportsApp:add_comment' item.slug %}">
            <button class="btn btn-primary btn-sm"
            type="button">View Comment</button>
          </a>
          {% endbuttons %}
        {% endfor %}
        </ul>
      {% else %}
        <strong>No items currently in this category!</strong>
      {% endif %}
    {% else %}
     The specified category does not exist!
    {% endif %}
{% endblock %}
    
    