li {
    color: blue;
}

.sport-bg {
    background-image: url("sport_ground.png");
    background-position: center center;
    
}

.content {
    float: left;
    clear: both;
}

.blog-content {
    width: 50%;
    height: auto;
    float: right;
    clear: right;
}

.custom {
    clear: both;
    text-decoration: underline;
}

.custom-text {
    text-align: center;
    font-weight: bold;
}
